@font-face {
  font-family: 'Roboto-Light';
  src: url('chrome-extension://kjmhijhhgchgnadjbjlheldihibopceg/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('chrome-extension://kjmhijhhgchgnadjbjlheldihibopceg/Roboto/Roboto-Regular.ttf');
}

.trellify-icon,
.trellify-popup,
.trellify-popup__card,
.trellify-popup__card [name="card"],
.trellify-popup__select,
.trellify-popup__select [name="boards"],
.trellify-popup__btn,
.trellify-popup__text {
  text-transform: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

.trellify-icon,
.trellify-popup {
  font-family: 'Roboto-Light', sans-serif;
  border: 1px solid #999;
  border-radius: 5px;
  position: absolute;
  z-index: 2147483647;
  background: #fafafa;
}

.trellify-icon {
  width: 27px;
  height: 27px;
  background-image: url('chrome-extension://kjmhijhhgchgnadjbjlheldihibopceg/icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.trellify-popup {
  width: 300px;
  text-align: center;
  box-shadow: 2px 2px 3px #ccc;
  padding: 10px;
  font-size: 18px;
}

.trellify-popup__card {
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 2px #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.trellify-popup__card [name="card"] {
  width: 100%;
  height: 100%;
  font-size: 18px;
  resize: none;
  outline-color: #ddd;
  background: white;
}

.trellify-popup__select {
  background: rgb(0, 121, 191);
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 35px;
  line-height: 35px;
}

.trellify-popup__select [name="lists"]:disabled {
  border: none;
}

.trellify-popup__select [name="boards"],
.trellify-popup__select [name="lists"] {
  font-size: 18px;
  border: none;
  width: 270px;
  font-family: 'Roboto-Regular', sans-serif;
  background: transparent;
  color: white;
  cursor: pointer;
  height: 35px;
  padding: 5px;
}

.trellify-popup__btn {
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  margin-bottom: 10px;
}

.trellify-popup__btn:hover {
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
}

.btn-close {
  font-weight: bold;
}

.trellify-popup__text {
  font-family: 'Roboto-Regular';
  margin-bottom: 10px;
}

